* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat";
  background-color: ghostwhite;
  transition: all 400ms ease-in-out;
}
section {
  width: 100%;
}
.btn-xlg {
  border: none;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
}

.btn-lg {
  border: none;
  transition: all 400ms ease-in-out;
  padding: 8px;
  width: 60%;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
 .purple {
  background-color: purple;
 }
.purple:hover {
  background-color: blueviolet;
}

.btn-medium {
  cursor: pointer;
  border: none;
  transition: all 400ms ease-in-out;
  padding: 6px;
  width: 100px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.btn-sm {
  cursor: pointer;
  border: none;
  transition: all 400ms ease-in-out;
  padding: 4px;
  width: 50px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.red {
  background-color: rgb(199, 8, 8);
}

.red:hover {
  background-color: darkred;
}

.green {
  background-color: green;
}

.green:hover {
  background-color: darkgreen;
}

.orange {
  background-color: orange;
}

.orange:hover {
  background-color: darkorange;
}

a {
  text-decoration: none;
}
main {
  padding-top: 100px;
  min-height: 100vh;
  padding-bottom: 50px;
  transition: all 400ms ease-in-out;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  max-width:85%;
  margin: auto;
  padding: 10px 20px;
}

.trans {
  transition: all 200ms ease-in-out;
}

.header-section {
  width: 100%;
  height:fit-content;
  position:fixed;
  top:0;
  z-index:100;
  background-color: whitesmoke;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05);
}

.header{
  display:flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.label {
  font-size: 1.5em;
  font-family: impact;
  text-transform: uppercase;
  color: purple;
}
/* ------------------------nav--styling -----------------------*/
.nav-menu {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: all 300ms ease;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  border-bottom: 4px solid purple
}

.mobile-btn {
  display: none;
  cursor: pointer;
}
/* ------------------------nav--styling end-----------------------*/
.search-field {
  width: 250px;
  padding: 8px;
  border-radius: 125px;
  border: 2px solid lightgrey;
  outline: none;
}

.search-field:focus {
  border: 2px solid blueviolet;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 20px;
}
.toggle small {
  font-size: 0.7em;
}

.toggle-btn {
  width: 40px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: whitesmoke;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  cursor:pointer;
}

.toggle-circle {
  width: 15px;
  height: 15px;
  background-color: #313638;
  border-radius: 20px;
}
.note-container {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  height: fit-content;
  min-height: 80vh;
  background-color: snow;
  padding: 10px 10px 10px 0px;
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.05);
  box-shadow: -15px -15px 35px rgba(0, 0, 0, 0.05);
  margin-bottom: 80px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%;
  padding: 20px;
  border-right: 2px solid rgba(243, 211, 211, 0.377);
  background-color: white;
}

.sidebar-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid purple;
  padding-bottom: 10px;
}
.sidebar-head h2 {
  color: purple;
  font-size: 18px;
  
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 5px;
}

.note:hover {
  background-color: rgba(247, 197, 247, 0.589);
}

.note-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.title {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.text {
  width: fit-content;
  font-size: 12px;
  color: rgb(46, 46, 46);
  word-wrap: break-word;
  white-space: pre-wrap;
}
.del {
  border: none;
  background-color: transparent;
  color: red;
  font-size: 1.5em;
  cursor: pointer;
}
.del:hover {
  color: darkred;
}

.note-footer{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sm {
  color: grey;
}

.fav {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  color: purple;
}

.active {
  background-color: rgb(114, 11, 114);
  color: white;
}

.active:hover{
  background-color: rgb(95, 7, 95);
}

.active .text {
  color: rgb(231, 228, 228);
}

.active .fav {
  color: white;
}

.main-bar {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
  box-shadow: -2px -4px 8px rgba(0, 0, 0, 0.05);
}

.main-bar h1 {
  color: purple;
  text-align: center;
}
.main-bar h2 {
  color: black;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 70%;
}

.preview {
  background-color: whitesmoke;
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-1 {
  width: 100%;
  outline: none;
  height: 40px;
  border: 2px solid darkred;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 8px;
}

.none-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  color: purple;
  font-weight: bolder;
  width: 100%;
}

.textarea-1 {
  resize: none;
  width: 100%;
  height: 300px;
  max-height: 500px;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  border: 2px solid purple;
  background-color: ghostwhite;
}
.markdown {
  padding: 0px 10px;
  line-height: 1.5rem;
  white-space: pre-wrap;
}
.light {
  font-weight: bolder;
}
.dark {
  color: gray;
}

/* ------------------Home page styling----------------------- */


video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  left:0;
  right:0;
}

.hero-section {
  height: 100vh;
  width: 100%;
  text-align: center;
}
.home-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.flower {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
  animation: change 1s ease 300ms infinite alternate-reverse;
}
@keyframes change {
  from{border-radius: 8px; transform: scale(1);}
  to{border-radius: 30px; transform: scale(1.1);}
}

.flower .self {
  margin: auto;
  text-align: center;
  object-position:top center;
}
.home-card {
  width: 400px;
  min-height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  transform: translateY(25%);
  padding: 30px 10px;
  border-radius: 8px;
  font-family: arial;
  cursor: pointer;
}

.home-text h1 {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}

.home-text p {
  color: ghostwhite;
  line-height: 20px;
}


/* ------------------End of Home page styling----------------------- */

/* ------------------dark mode css ----------------------- */
.darkmode {
  background-color:#313638;
  color: white;
  transition: all 400ms ease;
}

.darkmode .header-section {
  background-color: #3a3b3b;
}

.darkmode .nav-link {
  color: white;
}
.darkmode .nav-link:hover {
  border-bottom: 4px solid yellow
}
.darkmode .close-icon{
  color: yellow;
}
.darkmode .menu-icon {
  color: yellow;
}
.darkmode .close-icon:hover, .menu-icon:hover {
  color: goldenrod;
} 
.darkmode .markdown {
  color: black;
}
.darkmode .preview-tittle {
  color: black;
}
.darkmode .text {
  color: whitesmoke;
}
.darkmode .toggle-btn {
  justify-content: flex-end;
  background-color: #313638;
}

.darkmode .toggle-circle {
  background-color: white;
}

.darkmode .dark {
  font-weight: bolder;
  color: white;
}

.darkmode .light {
  color: lightgray;
  font-weight: 400;
}

.darkmode .sidebar {
  background-color: transparent;
}
.darkmode .main-bar {
  background-color: #3a3b3b;
}
.darkmode body {
  background-color: #313638;
}
.darkmode .todos {
  background-color: #3a3b3b;
}
 
.darkmode .note-container {
  background-color: #3a3b3b;
}

.darkmode .meme-container {
  background-color: #3a3b3b;
}

.darkmode h1 {
  color: yellow;
}

.darkmode .main-bar h1 {
  color: yellow;
}
.darkmode .sidebar-head {
  border-bottom: 2px solid yellow;
}

.darkmode .label {
  color: yellow;
}

.darkmode .none-selected {
  color: yellow;
}

.darkmode .sidebar-head h2 {
  color: yellow;
}

.darkmode .bottom-section {
  background-color: #313638;
  border-radius: 8px;
}

.darkmode .nav a {
  color: whitesmoke;
}
/* ------------------End of dark mode css ----------------------- */




/* ------------------media querry ----------------------- */

@media screen and (max-width:960px) {
  .container {
    max-width: 95%;
    padding: 0px 10px;
  }
  /* ------------------------nav--styling -----------------------*/
  .header {
    position: relative;
  }
  .input {
    display: none;
  }

  .mobile-btn {
    display: block;
  }

  .close-icon, .menu-icon {
    font-size: 2.6rem;
    padding: 8px;
    color: purple;
  }
  .close-icon:hover, .menu-icon:hover {
    color: blueviolet;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 60%;
    position: absolute;
    top: 80px;
    right: -100%;
    margin-right: -30px;
    opacity: 0;
    transition: all 300ms ease;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    padding-top: 70px;
    visibility: hidden;
  }
  .nav-menu.act {
    background-color: blueviolet;
    opacity: 1;
    transition: all 300ms ease;
    right: 0;
    visibility: visible;
  }

 .darkmode .nav-menu.act {
  background-color: goldenrod;
 }
  .nav-link {
    font-size: 1.1em;
    padding: 12px;
    border-bottom: none;
    width: 100%;
    font-weight: bolder;
    color: white;
  }

  .nav-link:hover {
    background-color: rgb(178, 134, 219);
    border-bottom: none;
  }

  .darkmode .nav-link:hover {
    background-color: darkgoldenrod;
    border-bottom: none;
  }
  .darkmode .nav-link:hover {
    border-bottom: none;
  }
/* ------------------------nav--styling end-----------------------*/

  .note-container {
    flex-direction: row;
    min-height: 50vh;
    gap: 5px;
  }
  .sidebar {
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
  .sidebar-head {
    border-bottom: none;
  }
  .sidebar-head h2 {
    font-size: 16px;
    padding-left: 10px;
  }
  .sidebar-head button {
    padding: 4px;
    border: none;
    background-color: olivedrab;
    color: whitesmoke;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
  }
  .main-bar {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  .main-bar h1 {
    font-size: 16px;
    text-align: center;
  }
 .meme-container .top-section h1{
    font-size: 1.5em;
  }
  .middle-section .middle-meme {
    width: 100%;
  }
  .middle-section .middle-meme .meme-img {
    height: 200px;
  }
  .todos .create-todo h1 {
    font-size: 14px;
  }
}

/* ------------------End of media querry----------------------- */